<div class="row">
  <div class="col-md-4">
    <profile></profile>
  </div>
  <div class="col-md-8">
    <div class="row card card-block">
      <div class="col-md-6 form-group">
        <label class="control-label">First name</label>
        <input type="text" class="form-control" value="Jeevitha Sri" placeholder="">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Last Name</label>
        <input type="text" class="form-control" value="K" placeholder="">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Date of Birth</label>
        <input type="date" class="form-control" placeholder="">
      </div>
      <!-- <div class="col-md-4 form-group">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" placeholder="">
      </div> -->
      <div class="col-md-12 form-group">
        <label class="control-label">Email</label>
        <input type="email" class="form-control" value="jeevithasrik@gmail.com" placeholder="">
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Phone Number</label>
        <input type="number" class="form-control" value="6383938979" placeholder="">
      </div>
      <!-- <div class="col-md-12 form-group">
        <label class="control-label">Username</label>
        <textarea class="form-control" placeholder=""></textarea>
      </div> -->
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="alert()">Update Profile</button>
      </div>
    </div>
  </div>
</div>
