<div class="row">
  <div class="col-md-4">
    <profile></profile>
  </div>
  <div class="col-md-8">
    <div class="row card card-block">
      <div class="col-md-6 form-group">
        <label class="control-label">First_name</label>
        <input type="text" class="form-control" placeholder="Firstname" value="Ramya">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Last_Name</label>
        <input type="text" class="form-control" placeholder="LastName" value="A">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Manager_ID</label>
        <input type="text" class="form-control" placeholder="managerid" value="CIT1">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">PhoneNumber</label>
        <input type="text" class="form-control" placeholder="phonenumber" value="9994541162">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Email_ID</label>
        <input type="text" class="form-control" placeholder="mailid" value="aramya0209@gmail.com">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Qualification</label>
        <input type="text" class="form-control" placeholder="qualification" value="B.E.,CSE">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Work Experience</label>
        <input type="text" class="form-control" placeholder="workexperience" value="1Year">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Date Of Birth</label>
        <input type="date" class="form-control" placeholder="DOB">      
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">About</label>
        <input type="textarea" class="form-control" placeholder="about" value="At Work">
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="alert()">Update Profile</button>
      </div>
    </div>
  </div>
</div>
